extends layout

include utils.pug
//- mixin option(value, category)
//-   option(value=value selected=(value === category)) #{category}

block content
  //- +validationErrorSummary(errors)
  div#new-question.postQuestion
    span.userisasking Edit question
    form(action=`/questions/${question.id}/edit` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div
        label(for='title')
        br
        textarea.answer-content(type='text' name='title' value=question.title required)=question.title
        br
      //- label(for='content') Content
      div
        br
        textarea.question-content(name='content' value=question.content)=question.content
      div.forminput
        div
          label(for="category") Category
          select(name="category" value=question.Category.category required)
            each category in categories
              option(value= category.id selected =(category.category === question.Category.category)) #{category.category}
        button.add-question(type="submit") Submit
          //- +option(value= category.id)=category.category
      //- select(name="category")
      //- br
