extends layout

include utils.pug

block content
  div#new-question
    h1 Edit a Question
    form(action=`/questions/${question.id}/edit` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for='title') Question
      input(type='text' name='title' value=question.title required)
      br
      label(for='content') Content
      textarea(name='content' value=question.content)=question.content
      br
      label(for="category") Category
      select(name="category" value=question.Category.category required)
        each category in categories
          option(value= category.id)=category.category
      br
      button(type="submit") Submit