extends layout

include utils.pug

block content
 div
    div.postQuestion
      span.userisasking #{user.username} is asking...
      br
      form(action='/questions/new' method='post')
        div
          label(for='title')
          br
          textarea.title-content(name='title' value=title required placeholder='Start your question with "What", "How", "Why", etc.')
          br
        div
          label(for='imageURL')
          br
          textarea.title-content(name='imageURL' value=imageURL required placeholder='image url example : https://res.cloudinary.com/mabmab/image/upload/v1642456611/askMomDad.png')
          br
        div
          label(for='content')
          br
          textarea.question-content(name='content' value=content, placeholder="More info here...")
          br
        input(type='hidden' name='_csrf' value=csrfToken)
        div.forminput
          div
            label(for="category") Category
            select(name="category" required)
              each category in categories
                option(value= category.id)=category.category
          button.add-question(type="submit") Submit
