extends layout
include utils
block content
  +validationErrorSummary(errors)
  div#answer-box
    h3= answer.User.username
    span.answer-post= answer.content
    div.edit-delete
      if userId === answer.User.id
        form(action=`/answers/${answer.id}/delete` method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          button(id=`answer-delete-${answer.id}` type="submit").edit-btn Deletee
        form(action=`/answers/${answer.id}/edit` method='get')
          input(type='hidden' name='_csrf' value=csrfToken)
          button(id=`answer-edit-${answer.id}` type="submit").edit-btn Edit
        //- button(type="submit") Edit
  div#comment-box
    form(action=`/answers/${answer.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      textarea(name='content' value=content)
      button(type='submit') Add Comment
  each comment in comments
    div.post(id=`comment-container-${comment.id}`)
      h3= comment.User.username
      span= comment.content
      if userId === comment.User.id
      button(id=`comment-delete-${comment.id}` type="submit").delete-cmt-btn Delete
      //- button(type="submit") Edit
