extends layout
include utils
block content
  +validationErrorSummary(errors)
  div#question-box.post
    img.user-icon(src='../stylesheets/userIcon.jpg')
    span.span-css= answer.User.username
    span.phrase-css= 'answered'
    span.answer-post= answer.content
    div.edit-delete
      if userId === answer.User.id
        form(action=`/answers/${answer.id}/delete` method="post")
          input(type="hidden" name="_csrf" value=csrfToken)
          button(id=`answer-delete-${answer.id}` type="submit").edit-btn Delete
        form(action=`/answers/${answer.id}/edit` method='get')
          input(type='hidden' name='_csrf' value=csrfToken)
          button(id=`answer-edit-${answer.id}` type="submit").edit-btn Edit
  div#comment-box
    form(action=`/answers/${answer.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      textarea.answer-content(name='content' value=content placeholder='Type here...')
      br
      button(type='submit').addanswerbutton Comment
  each comment in comments
    div.answer-container(id=`comment-container-${comment.id}`)
      img.user-icon(src='../stylesheets/userIcon.jpg')
      span.span-css= comment.User.username
      span.phrase-css= 'commented'
      span.answer-post= comment.content
      div.edit-delete
        if userId === comment.User.id
        button(id=`comment-delete-${comment.id}` type="submit").delete-cmt-btn.edit-btn Delete
        form(action=`/comments/${comment.id}/edit` method='get')
          input(type='hidden' name='_csrf' value=csrfToken)
          button(id=`comment-edit-${comment.id}` type="submit").edit-btn Edit
