extends layout
include utils
block content
    +validationErrorSummary(errors)
    div#question-box.post
      img.user-icon(src='../stylesheets/userIcon.jpg')
      span.span-css= question.User.username
      //- span.phrase-css= 'asked'
      span.cat= question.Category.category
      span.singlequestion-title= question.title
      p.con= question.content
      img.question-img(src=question.imageURL)
      div.edit-delete
        if userId === question.User.id
          form(action=`/questions/${question.id}/delete` method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            button(id=`question-delete-${question.id}` type="submit").single-question-delete-button Delete
          form(action=`/questions/${question.id}/edit` method='get')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(id=`question-edit-${question.id}` type="submit").edit-btn Edit
            //- edit form for the single question on single question page
    div#answer-box
      form(action=`/questions/${question.id}` method='post')
       input(type='hidden' name='_csrf' value=csrfToken)
       textarea.answer-content(name='content' value=content placeholder='Type here...' required)
       br
       button.addanswerbutton(type='submit') Answer
    each answer in answers
      div.answer-container(id=`answer-container-${answer.id}`)
        img.user-icon(src='../stylesheets/userIcon.jpg')
        span.span-css= answer.User.username
        span.phrase-css= 'answered'
        br
        span.answer-post= answer.content
        div.commentdeletebuttons
          div
            a.comment-css(href=`/answers/${answer.id}`)
              img.commenticon(src='../stylesheets/chatbubble.jpg')
          div.edit-delete
            if userId === answer.User.id
              button(id=`answer-delete-${answer.id}` type="submit").delete-ans-btn Delete
                form(action=`/answers/${answer.id}/edit` method='get')
                  input(type='hidden' name='_csrf' value=csrfToken)
                  button(id=`answer-edit-${answer.id}` type="submit").edit-btn Edit
              //- need to edit this route for edit a answer and just edit button


      //- div.edit-delete
      //-   if userId === question.User.id
      //-     form(action=`/questions/${question.id}/delete` method="post")
      //-       input(type="hidden" name="_csrf" value=csrfToken)
      //-       button(id=`question-delete-${question.id}` type="submit").single-question-delete-button Delete
      //-         form(action=`/questions/${question.id}/edit` method='POST')
      //-           input(type='hidden' name='_csrf' value=csrfToken)
      //-           button(id=`question-edit-${question.id}` type="submit").edit-btn Edit
